.fancy {
    font-family: 'Fredoka One', cursive;
}

#result {
    background-color: darkmagenta;
    color: darkmagenta;
    text-align: left;
    padding: 10%;
}

#result2 {
    background-color: darkorange;
    color: pink;
    text-align: left;
    padding: 10%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
}

.uk-column {
    width: 40%;
}

.uk-grid {
    margin: auto;
    margin-top: 50px;
}

.container {
    grid-template-columns: [first] 40% [col2-start] 40% [end];
}

.listColumn {
    position: relative;
    left: 240px;
    width: auto;
}

.marginAuto {
    margin: auto;
}

#recipes {
    text-align: center;
}

.floatRight {
    float: right;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#searchButton {
    margin-bottom: 35px;
}

.hide {
    display: none;
}

.uk-search {
    margin-top: -55px;
}

img {
    padding: .5%;
    -webkit-box-shadow: -5px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 90%;
}

img:hover {
    opacity: 50%;
}

#image:hover {
    opacity: 100%;
}

.greyed {
    display: none;
}